In [7]:
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)

import datetime  # For datetime objects
import os.path  # To manage paths
import sys  # To find out the script name (in argv[0])
import pandas as pd

# Import the backtrader platform
import backtrader as bt

In [17]:
modpath = os.path.dirname(os.path.abspath(sys.argv[0]))
datapath = os.path.join(modpath, '/home/tema/10X/Week9/Crypto_Trading_Engineering/data')

In [21]:
nvda = pd.read_csv('../data/NVDA.csv')
nvda.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-06-20,42.998001,43.990002,42.674000,43.807999,43.794888,451153000
1,2023-06-21,43.500999,43.615002,42.080002,43.044998,43.032116,551603000
2,2023-06-22,42.252998,43.425999,42.234001,43.025002,43.012127,417737000
3,2023-06-23,42.464001,42.808998,42.014999,42.209000,42.196365,358140000
4,2023-06-26,42.460999,42.764000,40.099998,40.632000,40.619839,594322000

In [22]:
nvda.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [23]:
nvda['Date'] = pd.to_datetime(nvda['Date'])
nvda.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [24]:
start_date = nvda['Date'].min()
end_date = nvda['Date'].max()

start_date, end_date

(Timestamp('2023-06-20 00:00:00'), Timestamp('2024-06-18 00:00:00'))